In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
csv_filename = 'datasets/vacancies_data_scientist.csv'
json_filename = 'datasets/vacancies_data_scientist.json'

In [4]:
df = pd.read_csv('datasets/vacancies_data_scientist.csv', index_col=0)
df.head()

,vacancy_name,company_name,company_dept,area,address,latitude,longitude,salary_from,salary_to,salary_currency,salary_gross,publication_time,last_changed,schedule,req,resp,cond,skills
vacancy_id,,,,,,,,,,,,,,,,,,
67570281,Data engineer (RnD),SOFTSWISS,NaN,2758,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-07-07 08:49:27,2022-07-07 14:56:20,FULL_DAY,"Experience in data environments, such as Data ...",...Big Data technology landscape to build busi...,NaN,NaN
54418768,Senior data scientist,Банк ДОМ.РФ,NaN,1,"Москва, улица Воздвиженка, 10",55.753301,37.606263,NaN,NaN,NaN,NaN,2022-07-05 06:04:39,2022-07-05 06:04:39,FULL_DAY,Опыт от 1 года в банковской сфере. Знание стат...,Построение моделей вероятности дефолта (PD) и ...,Конкурентный уровень заработной платы + премии...,NaN
54168093,Middle / Senior QA-инженер в команду Поиска,HeadHunter::QA,HeadHunter::QA,1,"Москва, улица Годовикова, 9с10",55.809343,37.628505,200000.0,NaN,RUR,True,2022-07-02 18:44:56,2022-07-02 18:44:56,FULL_DAY,Знание методов и методик тестирования. Опыт те...,"Обнаружение, документирование и отслеживание д...",Возможность выбора места работы: удаленно или ...,NaN
66986986,Data Scientist,ImagiON,NaN,1,"Москва, Центральный административный округ, Пр...",55.749451,37.542824,NaN,NaN,NaN,NaN,2022-07-08 08:46:42,2022-07-08 08:59:43,FULL_DAY,Опыт работы от 1 года. Опыт работы по анализу ...,NaN,"Комфортный офис в Москва Сити, м. Деловой цент...",NaN
66198333,Data Scientist,БиАйЭй-Технолоджиз,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-07-08 07:46:57,2022-07-08 07:46:57,FULL_DAY,Знание SQL. Знание математической статистики. ...,"Прогнозирование спроса, эластичность спроса по...",Бесценный опыт работы над интересными проектам...,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1028 entries, 67570281 to 66733561
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   vacancy_name      1028 non-null   object
 1   company_name      1028 non-null   object
 2   company_dept      206 non-null    object
 3   area              1028 non-null   int64
 4   address           405 non-null    object
 5   latitude          404 non-null    float64
 6   longitude         404 non-null    float64
 7   salary_from       195 non-null    float64
 8   salary_to         118 non-null    float64
 9   salary_currency   221 non-null    object
 10  salary_gross      220 non-null    object
 11  publication_time  1028 non-null   object
 12  last_changed      1028 non-null   object
 13  schedule          1028 non-null   object
 14  req               1022 non-null   object
 15  resp              1017 non-null   object
 16  cond              767 non-null    object
 17  skills            0 non-null      float64
dtypes: float64(5), int64(1), object(12)
memory usage: 152.6+ KB

Now we can see there are many Nan values. These Nans are mostly in location fields ('address', 'lat' and 'long') and salary (why?). And we can totally drop 'skills' column as it's empty

In [7]:
df.drop(columns='skills', inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1028 entries, 67570281 to 66733561
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   vacancy_name      1028 non-null   object
 1   company_name      1028 non-null   object
 2   company_dept      206 non-null    object
 3   area              1028 non-null   int64
 4   address           405 non-null    object
 5   latitude          404 non-null    float64
 6   longitude         404 non-null    float64
 7   salary_from       195 non-null    float64
 8   salary_to         118 non-null    float64
 9   salary_currency   221 non-null    object
 10  salary_gross      220 non-null    object
 11  publication_time  1028 non-null   object
 12  last_changed      1028 non-null   object
 13  schedule          1028 non-null   object
 14  req               1022 non-null   object
 15  resp              1017 non-null   object
 16  cond              767 non-null    object
dtypes: float64(4), int64(1), object(12)
memory usage: 176.9+ KB

In [24]:
df['area'].value_counts()

1       522
2       135
160      63
4        30
1002     30
       ...
72        1
21        1
96        1
69        1
115       1
Name: area, Length: 63, dtype: int64

In [26]:
df[df['salary_from'].isna() & df['salary_to'].isna()].sum()

C:\Users\sharu\AppData\Local\Temp\ipykernel_6000\2708658213.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df[df['salary_from'].isna() & df['salary_to'].isna()].sum()

vacancy_name        Data engineer (RnD)Senior data scientistData S...
company_name        SOFTSWISSБанк ДОМ.РФImagiONБиАйЭй-ТехнолоджизС...
area                                                           159079
latitude                                                 17202.463468
longitude                                                13357.985544
salary_from                                                       0.0
salary_to                                                         0.0
salary_currency                                                     0
salary_gross                                                        0
publication_time    2022-07-07 08:49:272022-07-05 06:04:392022-07-...
last_changed        2022-07-07 14:56:202022-07-05 06:04:392022-07-...
schedule            FULL_DAYFULL_DAYFULL_DAYFULL_DAYFULL_DAYFULL_D...
dtype: object